<router-outlet></router-outlet>

<div class="container">
  <div class="row my-5">
    <div class="col-12 align-content-center">
      <h1>Mars Nation Harberger Marketplace</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <app-map (onAreasSelected)="buyer.selectedAreas = $event"></app-map>
      <!--<p>Raster is only available on lower zoom levels.</p>-->
      <!--<p>Click on the button above to select an area.</p>-->
    </div>
    <div class="col-3">
      <app-area-buyer #buyer></app-area-buyer>
    </div>
    </div>
  <div class="row my-5">
    <div class="col-12 align-content-center">
      <h1>My land</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 align-content-center">
      <h2>Land list</h2>
    </div>
  </div>
</div>
